.navbar-image {
    background-image: url("/static/img/navbg.png");
    box-shadow: rgba(20, 20, 20, .5) 0 20px 8px, inset rgba(12, 11, 6, .5) 0 -50px 50px;
}

.navbar, .navbar-dark {
    backdrop-filter: brightness(160%) contrast(105%);
}

a.navbar-brand, a.nav-link {
    color: #bababa!important;
}

a.navbar-brand:hover, a.nav-link:hover {
    color: #dadada!important;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: var(--dark);
    color: rgba(255, 255, 255, .75);
}

.dropdown-item:link, .dropdown-item:visited {
    color: rgba(255, 255, 255, .5);
}

html {
    min-height: 100vh;
}

body {
    background-image: url("/static/img/bg.png");
    position: relative;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#footer {
    position: absolute;
    width: 100%;
    color: rgb(161, 161, 161);
    padding: 5px;
    bottom: 0;
}

#footer .version {
    float: right;
}

.maincontainer {
    margin-top: 100px;
    margin-bottom: 40px;
    background: hsla(0, 0%, 30%, .7);
    box-shadow: inset 0 0 10px var(--dark);
    padding: 20px;
    color: #dadada;
    overflow-x: hidden;
    min-height: 25rem;
    height: fit-content;
}

.modalcontainer {
    margin-top: 120px;
    margin-bottom: 40px;
    background: hsla(0, 0%, 30%, 1);
    box-shadow: inset 0 0 10px var(--dark);
    padding: 20px;
    color: #dadada;
    overflow-x: hidden;
    min-height: 25rem;
}

#discord {
    float: right;
}

.clickabletable {
    transition: all .15s linear;
    cursor: pointer;
}

.EasyMDEContainer {
    flex-direction: row;
    flex-warp: initial;
}

.clickabletable:hover, .clickabletable:active {
    border-radius: .25rem;
    background-color: #1b1e21;
    transition: all .15s linear;
}

a .clickabletable {
    color: #bababa;
}

.searchabletableinput::placeholder {
    color: #bababa;
}

.searchabletableinput {
    color: #dadada;
    background-color: rgba(32, 23, 16, 0.6);
    border-color: rgba(22, 13, 16, 0.6)
}

.searchabletableinput:focus {
    color: #dadada;
    background-color: rgba(32, 23, 16, 0.6);
    border-color: rgba(22, 13, 16, 0.6)
}

.row a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
}

.row a:link:not(.btn), .row a:visited:not(.btn), .row a:active:not(.btn), .row a:hover:not(.btn), .row a:focus:not(.btn) {
    color: #bababa;
}

.table-divider {
    min-height: .1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgba(82, 82, 82, 0.75);
}

.table-head {
    font-weight: bold;
}

.table {
    --bs-table-color: #bababa;
    --bs-table-bg: transparent;
    border-radius: .25rem;
}

.table .table-body .row:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05);
    --bs-table-bg: rgba(255,255,255,.05);
}

.thead {
    --bs-table-bg: red;
}

.table .row {
    margin: 0;
}

.table .row:last {
    padding-bottom: 0;
}

.table .col {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.col:first {
    padding-left: .75rem;
}

.col:last {
    padding-right: .75rem;
}

.tablelink {
    color: #dadada!important;
    display: table-cell;
    width: 100%;
    /* fuck css */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.tablelink {
    background-color: rgba(61, 80, 37, 0.5);
    border: 1px rgba(61, 80, 37, 0.6) solid;
    border-radius: .25rem .25rem 0 0;
    border-bottom: 0;
}

.table-dark {
    background-color: rgba(32, 23, 16, 0.6);
}

.linkcell {
    margin-top: -1px;
    border-spacing: 0;
    padding: 0;
    display: flex;
}

.loginbutton:not(:disabled) {
    background-color: #7289DA;
    color: black;
}

.loginbutton:active, .loginbutton:focus {
    background-color: #5f6fbe;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}

.nopadding {
    padding: 0;
}

.smallpadding {
    padding: 5px 10px;
}

.descriptionblock {
    padding: 5px 10px;
    border-radius: 0.25rem;
}

.modcontainer {
    background-color: rgba(32, 23, 16, 0.6);
    border-radius: 0.25rem;
}

.modsection {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

.clickable {
    cursor: pointer;
}

.nomargin {
    margin: 0;
}

.marginbottom5 {
    margin-bottom: 5px;
}

.panel {
    border-top: 2px solid rgba(42, 33, 26, 0.6);
}

p.panel-title {
    font-size: 14px;
    color: #b4b4b4;
}

.btn-secondary {
    background-color: rgba(32, 23, 16, 0.6);
    border-color: rgba(22, 13, 16, 0.6);
}

.btn-secondary:not(:disabled) {
    background-color: rgba(18, 13, 9, 0.6);
    border-color: rgba(8, 5, 6, 0.6);
}

ol li {
    margin-bottom: 10px;
}

.discordimage {
    background: url("/static/img/discord.svg") no-repeat;
    height: 26px;
    width: 78px;
    float: right;
    margin-left: 4px;
}

.trashimage {
    background: url("/static/img/discord.svg") no-repeat;
    width: 32px;
}

.dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: .25rem 0;
}

a:link, a:visited, a:active, a:hover, a:focus {
    color: deepskyblue;
}

.btn {
    --bs-btn-color: #dadada;
    color: var(--bs-btn-color)!important;
    font-weight: bold;
}

.btn:hover, btn:active {
    --bs-btn-color: #eeeeee;
}

.btn-success, .btn-green {
    --bs-btn-color: #dadada;
}

.btn-green {
    --bs-btn-bg: #bf8923;
    --bs-btn-border-color: #bf8923;
}

.btn-green:active, a.btn-green:hover, .btn-success:active, a.btn-success:hover {
    --bs-btn-gb: #9d6e1e;
    --bs-btn-border-color: #9d6e1e;
}

.dropdown-toggle {
    --bs-btn-color: grey;
}

.author {
    color: var(--white);
    height: 30px;
    flex-grow: 0;
}

.author-img {
    margin-left: -4px;
    margin-right: 0.3rem;
}

sup.version, sub.version {
    color: gray;
    font-size: .5em;
    font-weight: normal;
}

.mod-info {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    width: auto
}

.version-details {
    color: gray;
    font-size: .75rem;
    margin-right: 10px;
    margin-top: 13px;
    font-weight: normal;
}

.center {
    margin: auto;
}

.carousel-control-next {
    box-shadow: -1em 0 1em 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev {
    box-shadow: 1em 0 1em 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    cursor: zoom-in;
}

kbd {
    background-color: var(--gray-dark);
}

.editor-toolbar, .editor-statusbar {
    opacity: 0.6;
    background-color: var(--gray-dark);
}

.editor-statusbar {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    opacity: 0.6;
}

.CodeMirror {
    border-radius: 0;
}

.editor-toolbar button {
    color: lightgray;
}

.btn-tn {
    padding: 0 .2rem;
    border: none;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.nav-tabs li a {
    color: #cecece;
}

img[alt="small"] {
    max-width: 256px;
    height: auto;
}

img[alt="medium"] {
    max-width: 512px;
    height: auto;
}

img[alt="large"] {
    max-width: 1024px;
    height: auto;
}

img[alt="100%"] {
    max-width: 100%;
    height: auto;
}